/* small amount of global css for the app */
html, body, #__next {
  height: 100%;
}

.table-hover tbody tr:hover{ cursor: pointer; }

/* push content below fixed navbar */
body {
  padding-top: 70px; /* adjust if your navbar height differs */
}
